{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": [
          "defaults"
        ],
        "useBuiltIns": "usage",
        "corejs": "3.26",
        "debug": true
      }
    ]
  ]
}
